.p{
    background-color: rgb(118, 62, 172);
    text-align: center;
    color: cadetblue;
    border:40px 20px 40px 20px solid red;
    margin: 20px;
}
.q{
    background-color: red;
    border:green solid;
}
