.p{
    background-color: blueviolet;
    border-radius: 40px solid blue;
    text-align: center;
    color: cadetblue;
    border:10ps 20px 40px 40px solid blue;

}
h1{
    color: blue;
    border:10ps 20px 40px 40px;
}