.p{
    background-color: rgb(118, 62, 172);
    border-radius: 60px solid blue;
    text-align: center;
    color: cadetblue;
    border:40px 40px 40px 40px solid blue;

}
h1{
    color: blue;
    border:10ps 20px 40px 40px;
}